*{background: white; color: black}
QLabel#typelabel{font-weight: bold; font-size: 16pt;}
QLabel#typelabel_lh{margin-top: 30; font-weight: bold; font-size: 16pt;}
QPushButton#connect{color: red; font-weight: bold; border-color: red}
QPushButton#connected{color: green; font-weight: bold; border-color: red}
QMessageBox#coding{font-size: 20pt;}
QPushButton{border-style: solid; border-width: 0; border-left-width: 14px; background: rgb(224, 224, 224); 
    border-color: black}
QPushButton:hover{border-style: solid; border-width: 0; border-left-width: 14px; background: rgb(200, 200, 200); 
    border-color: black}
QLineEdit{border-style: solid; border-width: 0; border-left-width: 10px; background: rgb(224, 224, 224); 
    border-color: black}
QLineEdit:hover{border-style: solid; border-width: 0; border-left-width: 10px; background: rgb(200, 200, 200); 
    border-color: black}